html, body{
  margin: 0;
  padding: 0;
  font-size: 6vh;
  height: 100%;
  cursor: url("cursor.gif"), auto;
}

body{
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

p{
  width: 8em;
  align-self: center;
  margin: 0 auto;
}

#bigwebsite-svg{
  height: 20vh;
  max-width: 95%;
}

#art-svg{
  max-width: 40%
}

#music-svg{
  max-width: 60%;
}

#videos-svg{
  max-width: 60%;
}

#contact-svg{
  max-width: 80%
}

#about-svg{
  max-width: 50%;
}

#container{
  width: 100%;
  text-align: center;
}

.big:first-of-type{
  margin: 3vh auto 0 auto;
}

.big{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 60%;
  margin: .4em auto 0 auto;
  height: 2em;
  display: table;
  vertical-align: middle;
}

@supports (display: grid){
  p{
    width: auto;
  }
  
  #container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
    grid-gap: 0px 0px;
  }
  
  .big:first-of-type{
    height: auto;
  }
  
  .big{
    display: grid;
    grid-gap: 0;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    justify-items: center;
  }
}
