{% block adminpage %}
<html>
<head>
	<title>admin page</title>
	<link href="restricted/stylesheet.css" rel="stylesheet">
	<link rel=icon href="content/favicon.ico" type="image/x-icon" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
	<meta http-equiv="Pragma" content="no-cache"/>
	<meta http-equiv="Expires" content="0"/>
</head>
<body>
<div id="topcontainer">
	<img id="banner" src="restricted/adminbanner.png"></img>
	<div id="tabcontainer">
		<div id="arttab" class="tab" contentid="artcontainer">ART</div><div id="videostab" class="tab" contentid="videocontainer">VIDEOS</div><div id="settingstab" class="tab" contentid="settingscontainer">SETTINGS</div>
	</div>
</div>
<div id="settingscontainer" style="display:none">
	<h1>site settings</h1>
	<br>
	<form id="settingsform" action="" method="post" accept-charset="utf-8" enctype="multipart/form-data">
		<a id="checksort-bubble" class="infobubble" target="_blank" title="This setting is used as a fix for when the images on the art page fail and are out of order or missing. This button will shut the site down for around 30 seconds, depending on how many images there are. It finds all the files that are currently being stored on the server, then reorders them based on a database containing the upload times/dates. If the button says that 'image validation failed' it means that the amount of images it was going to supply to the client did not match the amount of files on the server." href="#" style="display:none" onclick="return false;"></a>
		<img id="info-checksort" class="info" src="restricted/info.png"></img>
		<p style="display:inline-block">check order of art page images</p>
		{% if unsorted is check_sort %}
		<p style="color:red">image validation failed. please sort.</p>
		{% else %}
		<p style="color:green">images are sorted, everything is OK.</p>
		{% endif %}
		<button type="submit" name="checksort-submit" value="checksort">check</button>
	</form>
</div>
<div id="videocontainer" style="display:none">
	<div id="addvideo">
		<h1 style="margin: 0.25em auto;">add video</h1>
		<div id="notes">
			<h2>take note:</h2>
			<p>When adding a border for the video, the background <b>must not</b> be pure white. Specifically, it needs to be color code <b>#fcfefb</b> (R:252, G:254, B:251)</p>
			<p>It must be this color to match the background correctly. Below is a box with the correct color for reference.</p>
			<div id="color-square" style="background-color: #fcfefb; display: inline-block; width: 1em; height: 1em; margin: 1em;"></div>
		</div>
		<div id="videoadd-result"></div>
		<form id="formytadd" action="" method="post" accept-charset="utf-8" enctype="multipart/form-data">
			<p>add a youtube link</p>
			<input type="text" name="url" placeholder="paste youtube url">
			<label for="border">add border image (png only)</label>
			<input type="file" name="border" value="">
			<button type="submit" name="video-submit" value="videourl">submit</button>
		</form>
		<br>
		<!--<p>or add a video file</p>
		<form id="formfileadd" action="" method="post">
		<label for="url">paste youtube url</label>
		<input type="text" name="url">
		<label for="thumbnail">add thumbnail image</label>
		<input type="file" name="thumbnail">
		<button type="submit" name="video-submit" value="videofile">submit</button>
		</form>-->
	</div>
	<div id="removevideo">
		<div id="videodel-result"></div>
		<div id="videodelete">
			{% include "videolist.jinja2" %}
		</div>
	</div>
</div>
<div id="artcontainer" style="display:none">
	<div id="addart">
		<h1>add art</h1>
		<br>
		<p>add an art file (jpg/jpeg, png, gif, bmp, webp, pdf)</p>
		<div id="artadd-result"></div>
		<form id="formartadd" action="" method="post" accept-charset="utf-8" enctype="multipart/form-data">
			<label for="art">add art image</label>
			<input type="file" name="art" value="">
			<button type="submit" name="art-submit" value="artimg">submit</button>
		</form>
	</div>
	<div id="removeart">
		<div id="artdel-result"></div>
		<div id="artdelete">
			{% include "artlist.jinja2" %}
		</div>
	</div>
</div>
</body>
<script type="text/javascript" src="scripts/jquery.js"></script>
<script type="text/javascript" src="restricted/adminpage.js"></script>
</html>
{% endblock %}
