<!DOCTYPE html>
<html>
	<head>
		<noscript>
			<style>html{display:none;}</style>
			<meta http-equiv="refresh" content="0.0;url=noscript/contact">
		</noscript>
		<meta charset="utf8">
		<title>bigwebsite</title>
		<link rel=icon href="/content/favicon.ico" type="image/x-icon" />
		<link href="/about/content/stylesheet.css" rel="stylesheet">
	</head>
	<body>
		<div>
		<img id="demands" src="/about/content/bwsdemands.png" />
		</div>
		<a href="/about"><img id="backbutton" src="/content/backbutton.png"></a>
	</body>
	<script type="text/javascript"></script>
</html>
