<!DOCTYPE html>
<html>
	<head>
		<noscript>
			<style>html{display:none;}</style>
			<meta http-equiv="refresh" content="0.0;url=noscript/contact">
		</noscript>
		<meta charset="utf8">
		<title>bigwebsite</title>
		<link rel=icon href="/content/favicon.ico" type="image/x-icon">
		<link href="music/content/stylesheet.css" rel="stylesheet">
	</head>
	<body>
		<div id="musiccontainer">
			{% include 'musiclist.jinja2' %}
		</div>
		<a href="/"><img id="backbutton" src="/content/backbutton.png"></a>
	</body>
</html>
