<p>remove video</p>
{% for video in videohtml %}
<br><form class="videodelete" action="" method="post" accept-charset="utf-8" enctype="multipart/form-data"><button type="submit" name="video-submit" value="videodel{{ video.num|safe }}">delete video {{ video.num|safe }}</button></form>
{{ video.thumbnail|safe }}
{% endfor %}
