html,body{
	margin: 0;
	padding: 0;
	font-size: 6vh;
	cursor: url("/content/cursor.gif"), auto;
	background-color: #fcfefb;
}

body{
	padding-top: 5%;
	position: absolute;
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
}

img{
	position: relative;
	width: 100%;
}

#about, #demands{
	width: 90%;
	padding: 0 5%;
}

#aboutbottom{
	display: block;
	position: absolute;
}

#demandslink{
	z-index: 99;
	display: block;
	margin: 0 auto;
	position: relative;
	max-width: 50%;
	margin-top: 25%;
	cursor: url("/content/selectcursor.gif"), auto;
}

@media (orientation: portrait){
	#about,#demands{
		padding: 0;
		width: 100%;
	}
}

#backbutton{
	position: fixed;
	top: 0;
	left: 0;
	width: 20vh;
	max-width: 22%;
	cursor: url("/content/selectcursor.gif"), auto;
}
